@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<a href="https://github.com/TheSweMaster"><h4>My GitHub</h4></a>

<img src="https://avatars1.githubusercontent.com/u/23028331?s=460&v=4" alt="TheSweMaster Logo" style="max-height: 460px; max-width: 460px">
