@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <b>Jacob Gandemo</b><br />
    TheSweMaster
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:theswemaster@gmail.com">theswemaster@gmail.com</a><br />
</address>
