@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h2>Vacation Planner Web</h2>
    <h4>The quick and easy way to book and manage your vacation.</h4>
</div>

<img src="~/images/VacationChill1280x853.jpg" alt="Vacation Picture"/>
