@model IEnumerable<WorkFreeDay>

@{
    ViewData["Title"] = "All WorkFree-Days";
}

<h2>All WorkFree-Days</h2>

<table class="table" id="workfree-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name) <b class="caret"></b>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date) <b class="caret"></b>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/TableSorting.js"></script>
}
