body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table-row-gray {
    background-color: #f1f1f1;
}

.planned-vacation {
    background-color: #ffe699;
}

.absence-color-0 {
    background-color: #ccff99;
}

.absence-color-1 {
    background-color: #99ffe6;
}

.absence-color-2 {
    background-color: #99ccff;
}

.absence-color-3 {
    background-color: #cc99ff;
}

.today {
    border: 1px dotted darkgray;
}

.calendar-box {
    border: 1px dotted darkgray;
}

.start-week {
    border-left: 2px solid darkgray;
}

.weekend {
    background-color: #ffb3b3;
}

.holiday {
    background-color: #ff9999;
}

.calendar-table tbody tr td {
    width: 12.5%;
}

.calendar-table tbody tr td a {
    display: block;
    color: #333;
}

.calendar-overview-table tbody tr td a {
    display: block;
    color: #333;
}

.calendar-overview-table {
    font-size: 11px;
}

img {
    width: 100%;
    height: auto;
}

.calendar-button {
    display: block;
    max-width: 150px;
}

.user-filteritem {
    padding: 0 10px
}

.user-filter-header {
    margin-right: 85px;
}

.flex-container {
    display: flex;
}

.hidden-loading {
    display: block;
}

.show-loading {
    display: none;
}
